.nav-folder-title {
  font-family: 'HarmonyOS Sans SC' !important;
  font-size: 1.1em !important;
  font-weight: 450 !important;
}

.nav-file-title,
.nav-file-title.is-active,
.nav-file-title:hover {
  font-family: 'HarmonyOS Sans SC' !important;
  font-weight: 400 !important;
  font-size: 1em !important;
}

/* 白板样式 */

/* 文章居中 */
.canvas-node-container .markdown-embed-content {
  text-align: center;
}

/*标题居中 */
.canvas-node-container .markdown-embed-content h1 {
  text-align: center;
}
.canvas-node-container .markdown-embed-content h2 {
  text-align: center;
}
.canvas-node-container .markdown-embed-content h3 {
  text-align: center;
}
.canvas-node-container .markdown-embed-content h4 {
  text-align: center;
}
.canvas-node-container .markdown-embed-content h5 {
  text-align: center;
}
.canvas-node-container .markdown-embed-content h6 {
  text-align: center;
}
